<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="DndCharacterCreationDbConnectionString"
         connectionString="Server=baker.local.thomasmore.be,45001;Database=r0704618;User Id=r0704618;Password=Lv1730lv!;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>